.git
.github
.idea
.vscode
.DS_Store
.env
.env.*
!.env.production.example
node_modules
**/node_modules
var
dist
**/.nuxt
**/.output
**/.nitro
coverage
playwright-report
test-results
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
**/*.md
**/tests
**/*.spec.ts
**/*.test.mjs
